.hiddenRadio {
  display: none;
}

.highlightedCard {
  border: 5px solid yellow;
}

.playedCard {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.playedBy {
  display: block;
}

.card {
  margin: 2px;
}

.trump {
  margin-bottom: 5px;
}

.trumpCard {
  margin-left: 15px;
}

.scorecard {
  margin-bottom: 25px;
}
